.ftWrap {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "asap-regular";
    font-size: 0.85rem;
}
.ftCopy {
    display: flex;
    align-items: center;
    margin: 0 5px;
}
.ftIndex {
    display: flex;
    align-items: center;
    margin: 0 5px;
}
.ftContact {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.ftTitleP {
    color: var(--highlight-font-color);
    opacity: 0.5;
    margin: 0 5px;
}

.ftP {
    color: white;
    opacity: 0.5;
}

.ftLink {
    text-decoration: none;
    color: white;
    opacity: 0.5;
}

@media only screen and (max-width: 1200px) {
    .ftWrap {
        flex-direction: column;
        justify-content: center;
    }
}
