.introWrap {
    margin: 0 auto;
    width: 90%;
    height: 190px;
    flex-direction: row;
}

.descriptionTxt {
    font-family: asap-semiBold;
}

@media only screen and (max-width: 1000px) {
    .introWrap {
        flex-direction: column;
    }
    .img {
        width: 250px;
        height: 48px;
    }
}
