/* .introWrap {
    margin: 0 auto;
    width: 90%;
    height: 190px;
    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }
} */

.introWrap {
    margin: 0 auto;
    width: 90%;
    height: 190px;
    flex-direction: row;
    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }
}

.descriptionTxt {
    font-family: asap-semiBold;
}

.img {
    @media screen and (max-width: 800px) {
        width: 250px;
        height: 48px;
    }
}

/* .descriptionTxt dt {
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 10px 0;

    @media screen and (max-width: 800px) {
        font-size: 18px;
    }
}
.descriptionTxt dd {
    font-size: 14px;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 800px) {
        font-size: 14px;
    }
} */
