.tlTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tlForm {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.tlInput {
    border: none;
    color: var(--highlight-font-color);
    background-color: var(--background-rgb);
    font-family: "asap-semiBold";
    font-weight: 600;
    font-size: 1rem;
    text-align: right;
    width: 150px;
    height: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 75px);
    text-align: center;
}

.tlInput:focus {
    outline: none;
}

@media only screen and (max-width: 1200px) {
    .tlWrap {
        padding: 20px 0;
    }
    .tlTitle {
        margin-bottom: 10px;
    }
}
