.descriptionTxt {
    font-family: asap-semiBold;
}
.descriptionTxt dt {
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 20px 0;
}
.descriptionTxt dd {
    font-size: 14px;
    margin: 0;
    padding: 0;
}
